


.welcome-hero-btn.how-work-btn {
    display: inline-block;
    margin: 0;
    width: 100px;
    height: 35px;
    font-size: 12px;
    background: transparent;
    color: #767f86;
    border: 1px solid #d3d6d9;
    border-radius: 3px;
  }
  
  
  *{
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  font-family: "Spartan", san-serif;
  
  }
  
  
  h2{
  font-size: 46px;
  line-height: 54px;
  color: #f8f5f5;
  }
  h5{
      font-size: 20px;
      color: #f8f5f5;
      }
  h4{
  font-size: 20px;
  color: #090909;
  }
  
  p{
      font-size: 20px;
      color: #d8d6d6;
  }
  
  
  .section-p1{
  padding: 40px 80px;
  
  }
  
  
  .section-m1{
  padding: 40px 0;
  }
  
  body{
  width: 100%;
  font-family: inherit; 
  }
  
  
  #heroNew{
  background-image: url("https://images.ctfassets.net/4zjnzn055a4v/60UbbZ3Hmi47NDxMbMEbtk/d91995d208e34df68a86ee66b648081a/music_fund_guitar.jpg");
  
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  line-height: 1;
  
  }
  
  
  #heroNew h1{
  color: #3dcf2000;
  
  }
  
  
  #heroNew h4{
  padding-bottom: 15px;
  
  
  }
  
  #heroNew button{
  appearance: none;
  background-color: #de6418;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 25%;
  will-change: transform;
  }
  
  #heroNew button:disabled {
  pointer-events: none;
  }
  
  #heroNew button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  }
  
  #heroNew button:active {
  background-color: #a34912; /* Darker shade of the original color */
  box-shadow: none;
  transform: translateY(0);
  }
  